@import "../mixins/font-face";

.footer {
    &__wrapper {
        display: grid;
        grid-template-columns: 1fr 2fr;
        padding: 40px 0 40px;
    }

    &__language {
        grid-column: 1 / 2;
        grid-row: 1 / 1;
        select{
            appearance: none;
            background-color: var(--blue);
            border-radius: 12px;
            border: 1px solid #767676;
            padding: 13px 36.5px 12.6px 25px;
            @include QuicksandRegular;
            font-size: var(--fz-16);
            color: var(--white);
            background-image: url('./../../img/chevron-down.svg');
            background-repeat: no-repeat;
            background-size: 20px 20px;
            background-position: right .7em top 50%, 0 0;
            // outline: 2px solid var(--black);
        }

        &__language:focus{
            outline: 2px solid var(--gray);

        }
    }

    &__logo {
        grid-column: 1 / 2;
        grid-row: 2 / 2;
    }

    &__logo:focus{
        outline: 2px solid var(--blue);
        padding: 5px;
        border-radius: 20px;
    }

    &__nav {
       display: flex;
       min-height: 274px;
       flex-wrap: wrap;
       gap: 8px;
    }

    &__links {
       
    }

    &__links-list{
        // display: grid;
        // grid-template-columns: 1fr 1fr;
        // //  grid-template-rows:  repeat(auto, 1fr);;
        // grid-auto-flow: column;

        display: flex;
        flex-direction: column;
        // height: 250px;
        flex-wrap: wrap;
        width: 370px;

        // display: flex;
        // flex-wrap: wrap;
    }

    &__links-title {
        @include QuicksandRegular;
        color: var(--buttom-text);
        font-size: var(--fz-16);
        margin-bottom: 30px;
    }


    &__links-item {
        max-width: 48%;
        margin-bottom: 14px;
        // border: 10px solid red;
    }

    &__links-link {
        @include QuicksandRegular;
        color: var(--buttom-text);
        font-size: var(--fz-16);
        transition:  text-decoration 0.3s;
    }

    &__links-link:focus{
        outline: 2px solid var(--blue);
        padding: 3px;
        border-radius: 10px;
    }
    &__links-link:hover{
        text-decoration: underline;
    }


    &__follow {
        display: inline-block;
    }

    &__follow-title {
        @include QuicksandMedium;
        color: var(--buttom-text);
        font-size: var(--fz-16);
        margin-bottom: 30px;
    }

    &__follow-item {
        margin-bottom: 14px;
    }

    &__follow-link {
        @include QuicksandRegular;
        color: var(--buttom-text);
        font-size: var(--fz-16);
        transition: text-decoration 0.3s;
    }
    &__follow-link:focus{
        outline: 2px solid var(--blue);
        padding: 3px;
        border-radius: 10px;
    }

    &__follow-link:hover{
        text-decoration: underline;
    }

    &__touch {
        display: inline-block;
    }

    &__touch-title {
        @include QuicksandMedium;
        color: var(--buttom-text);
        font-size: var(--fz-16);
        margin-bottom: 30px;
    }


    &__touch-item {
        margin-bottom: 14px;
    }

    &__touch-link {
        @include QuicksandRegular;
        color: var(--buttom-text);
        font-size: var(--fz-16);
        transition: text-decoration 0.3s;
    }

    &__touch-link:focus{
        outline: 2px solid var(--blue);
        padding: 3px;
        border-radius: 10px;
    }

    &__touch-link:hover{
        text-decoration: underline;
    }
}

