@import "../mixins/font-face";

.header {
    background-color: var(--accent);
    width: 100%;
    min-height: 810px;
    margin-bottom: 64px;
    &__wrapper {
        padding-top: 20px;
    }
    
    &__top{
        position: relative;
        background-color: var(--white);
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 80px;
        padding: 19px 20px 19px 40px;
        border-radius: 22px;
        margin-bottom: 64px;
        
        }

        &__logo{
            width: 168px;
        }
        &__logo:focus{
            padding: 5px;
            outline: 2px solid var(--blue);
            border-radius: 20px;
        }

        &__right {
            display: flex;
            gap: 40px;
            align-items: center;

        }
        
        &__btn {
            padding: 12px 24px 12px 24px;
            border-radius: 12px;
            background-color: var(--blue);
            border: none;
            color: var(--white);
            font-size: var(--fz-14);
            line-height: 18.76px;
            min-width: 145px;
            @include InterRegular;
            cursor: pointer;
            transition: background-color 0.3s, color 0.3s;
        }
        &__btn:hover {
            background-color: var(--white);
            color: var(--blue);
        }

        &__btn:focus {
            outline: 2px solid var(--black);
        }

        &__main-text{
            text-align: center;
            margin-bottom: 64px;
        }

        &__main-title{
            color: var(--white);
            font-size: var(--fz-37);
            @include InterMedium;
            max-width: 555px;
            width: 100%;
            margin: 0 auto;
            margin-bottom: 15px;
            line-height: 48px;
        }

        &__main-subtitle{
            color: var(--white);
            font-size: var(--fz-16);
            @include InterRegular;
            max-width: 487px;
            width: 100%;
            margin: 0 auto;
            margin-bottom: 32px;
            line-height: 25px;

        }

        &__main-btn{
            padding: 12px 24px 12px 24px;
            border-radius: 12px;
            background-color: var(--white);
            border: none;
            color: var(--buttom-text);
            font-size: var(--fz-14);
            min-width: 145px;
            margin-bottom: 12px;
            @include InterRegular;
            cursor: pointer;
            transition: background-color 0.3s, color 0.3s;
        }

        &__main-btn:hover{
            background-color: var(--blue);
            color: var(--white);
        }


        &__main-desc{
            @include InterRegular;
            font-size: var(--fz-12);
            line-height: 19px;  
            color: var(--white);
        }

        .slider-header{
            &__img{
                border-radius: 17px;
            }
            &__img:focus{
                outline: 2px solid var(--white);
                border-radius: 22px;
            }
        }

        &__main-slider{
            // overflow: hidden;
        }
        
        .swiper-wrapper{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;
        }

        .swiper-slide {
            width: 400px;
            height: 224px; ;
        }

        .slick-slide {
            margin: 0 10px;
        }

        // .video-fashion__popup{
        //     position: fixed;
        //     top: 0;
        //     left: 0;
        //     width: 200px;
        //     height: 200px;
        // }
}




@media (max-width: 700px){
    .header{
        &__btn{
            margin-right: 50px;
        }
    }
}

@media (max-width: 450px) {
    .header{
        min-height: 720px;
        &__top{
            margin-bottom: 30px;
            padding: 19px 15px 19px 15px;
        }

        &__logo {
            width: 120px;
        }

        &__main-text{
            margin-bottom: 35px;
        }
        &__main-title {
            line-height: 38px;
        }
        &__btn{
            margin-right: 40px;
            padding: 12px 11px 12px 9px;
            min-width: 120px;
        }
    }
    .slider-header{
        &__img{
           width: 300px;
           height: 180px;
        }
    }
}