@import "../mixins/font-face";

.booking {
    margin-bottom: 120px;
    &__top{
        margin-bottom: 80px;
    }

    &__content {
        max-width: 572px;
        color: var(--black);
        @include InterRegular;
        margin: 0 auto 84px;
        text-align: center;
    }

    &__title {
        font-size: var(--fz-37);
        line-height: 48px;
        margin-bottom: 23px;
    }

    &__text {
        @include InterRegular;
        font-size: var(--fz-16);
        line-height: 26px;
    }

    &__img {
        img{
            width: 718px;
            margin: 0 auto;
        }
    }

    &__bottom-content {
        display: flex;
        justify-content: space-between;
        @include InterRegular;
        padding: 0px 160px 70px 160px;
        color: var(--text-color-black);
    }

    &__bottom-title {
        line-height: 48px;
        font-size: var(--fz-37);
        max-width: 418px;
        
    }

    &__bottom-text {
        font-size: var(--fz-16);
        line-height: 19px;
        max-width: 518px;
        align-self: flex-end;
    }

    &__bottom-slider{
        position: relative;
    }

    .swiper-button-prev{
        position: absolute;
    }

    .swiper-button-next{
        position: absolute;
    }
    .swiper-button-prev::after{
        content: '';
        position: absolute;
        background-image: url("./../../img/left.svg");
        width: 15px;
        height: 12px;
        top: 0;
        right: 0;
    }

    .swiper-button-next::after{
        content: '';
        position: absolute;
        background-image: url("./../../img/right.svg");
        width: 15px;
        height: 12px;
        top: 0;
        right: 0;
    }
     .swiper-button-prev, .swiper-button-next{
        top: -30px;
        right: 0;
    }

    .swiper-button-prev{
        left: inherit;
        right: 40px;
    }

    .swiper-button-next{
       right: 0;
    }

    .swiper-wrapper{
        display: flex;
        justify-content: center;
        // align-items: center;
        gap: 20px;
    }

    .swiper-slide {
        width: initial;
        height: initial;
    }

  
}


@media (max-width: 800px){
    .booking{
        &__bottom-content {
            padding: 0px 27px 70px 27px;
        }

        &__bottom-title {
            line-height: 33px;
            font-size: var(--fz-23);
            max-width: 240px;
        }

        &__bottom-text {
            max-width: 230px;
        }
    }
}

@media (max-width: 620px){
    .booking{
        margin-bottom: 70px;
        &__content {
            margin: 0 auto 45px;
        }
    }
}



@media (max-width: 460px){
    .booking{
        &__bottom-content {
            display: block;
            padding: 0px 27px 40px 27px;
        }

        &__bottom-title {
          margin-bottom: 10px;
        }

        &__title {
            font-size: var(--fz-23);
            line-height: 38px;
            margin-bottom: 23px;
        }

        &__top {
            margin-bottom: 40px;
        }
      
        .slider-booking__img {
            width: 250px;
            height: 170px;
        }
    }
}