@import "../mixins/font-face";


.support {
    margin-bottom: 20px;
    &__wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        background-color: var(--button-color);
        padding: 40px;border-radius: 22px;
}

    &__content {
        justify-self: center;
        padding-top: 50px;
        // padding-left: 88px;
        color: var(--white);
        @include InterRegular;
    }

    &__title {
        font-size: var(--fz-37);
        max-width: 420px;
        line-height: 48px;
        margin-bottom: 23px;
    }   

    &__text {
        font-size: var(--fz-16);
        max-width: 400px;
        line-height: 25px;
        margin-bottom: 48px;
    }


    &__item {
        margin-bottom: 24px;    
    }

    &__link {
        color: var(--white);
        @include InterRegular;
        font-size: var(--fz-16);
        color: var(--Colors-white-white, #FFF);
        line-height: 25.6px;
        text-decoration: underline;
        transition: color 0.3s;
    }

    &__link:hover{
        color: var(--text-color-black);
    }

    &__img {
        justify-self: end;
        max-width: 557px;
        width: 100%;
    }
}
    
@media (max-width: 930px){
    .support{ 
        &__title {
        font-size: var(--fz-23);
        max-width: 370px;
        line-height: 35px;
    }   
        &__text {
            font-size: var(--fz-14);
            max-width: 340px;
        }
    }
}
@media (max-width: 815px){
    .support{
        &__wrapper{
            display: block;
        }
    }
}


@media (max-width: 500px){
    .support{
        &__content {
            padding-top: 0px;
        }
        &__text {
            margin-bottom: 20px;
        }
        &__item {
            margin-bottom: 15px;    
        }
    }
}