<footer class="footer">
  <div class="container">
    <div class="footer__wrapper">
      <div class="footer__language">
        <select name="footer__language-select">
          <option value="1">English</option>
          <option value="2">Spanish</option>
          <option value="3">Italian</option>
          <option value="4">China</option>
        </select>
      </div>
        <a class="footer__logo logo" href="#">
          <img src="./img/logo-footer.svg" alt="acuity:scheduling logo">
        </a>
        <div class="footer__nav">
          <div class="footer__links">
            <h3 class="footer__links-title">Quick Links</h3>
            <ul class="footer__links-list">
              <li class="footer__links-item">
                <a class="footer__links-link" href="#">Home</a>
              </li>
              <li class="footer__links-item">
                <a class="footer__links-link" href="#">Plans & Sign up</a>
              </li>
              <li class="footer__links-item">
                <a class="footer__links-link" href="#">Enterprise</a>
              </li>
              <li class="footer__links-item">
                <a class="footer__links-link" href="#">Help & Support</a>
              </li>
              <li class="footer__links-item">
                <a class="footer__links-link" href="#">Acuity Certified Experts</a>
              </li>
              <li class="footer__links-item">
                <a class="footer__links-link" href="#">Log in</a>
              </li>
              <li class="footer__links-item">
                <a class="footer__links-link" href="#">API Documentation</a>
              </li>
              <li class="footer__links-item">
                <a class="footer__links-link" href="#">Privacy & Cookie Policy</a>
              </li>
              <li class="footer__links-item">
                <a class="footer__links-link" href="#">Terms of Service</a>
              </li>
              <li class="footer__links-item">
                <a class="footer__links-link" href="#">Accessibility Statement</a>
              </li>
              <li class="footer__links-item">
                <a class="footer__links-link" href="#">Uptime</a>
              </li>
              <li class="footer__links-item">
                <a class="footer__links-link" href="#">Build a website</a>
            </ul>
          </div>
          <div class="footer__follow">
            <h3 class="footer__follow-title">Follow</h3>
            <ul class="footer__follow-list">
              <li class="footer__follow-item">
                <a class="footer__follow-link" href="#">Blog</a>
              </li>
              <li class="footer__follow-item">
                <a class="footer__follow-link" href="#">Instagram</a>
              </li>
              <li class="footer__follow-item">
                <a class="footer__follow-link" href="#">Twitter</a>
              </li>
            </ul>
          </div>
          <div class="footer__touch">
            <h3 class="footer__touch-title">Stay In Touch</h3>
            <ul class="footer__touch-list">
              <li class="footer__touch-item">
                <a class="footer__touch-link" href="#">Contact Us</a>
              </li>
            </ul>
          </div>
        </div>
    </div>
  </div>
</footer>
<!-- <script defer src="js/main.js"></script> -->
